---
import ArticleCard from "@components/ArticleCard.astro";

import { getAllPosts } from "@providers/wp-graphql/posts/index";
import Layout from "@layout/Layout.astro";

const posts = await getAllPosts();
---

<Layout title="Inicio">

	<div class="border-b border-gray-100 pt-6 flex gap-8 text-sm sticky top-14 bg-white w-full md:pt-10 z-10">
		<a href="#" class="border-b border-gray-900 text-gray-900 pb-4 mb-[-1px]">For you</a>
		<a href="#" class="text-gray-600 pb-4">Featured</a>
	</div>


	<div class="rounded-lg bg-gray-50 mt-2 px-6 py-4">
		<div class="flex flex-col md:flex-row md:justify-between gap-3 md:gap-7 items-start">
		<p class="text-sm flex-1">
			"Following" and your topics are now part of the new Following page,
			which you can find from the sidebar.
		</p>
		<a class="text-sm underline shrink-0"> Okay, got it </a>
		</div>
	</div>


	<div class="space-y-0 mt-[26px]">
		{
			posts.map((post) => (
				<ArticleCard
					author={post.author}
					title={post.title}
					subtitle={post.subtitle}
					date={post.date}
					isPremium={post.premium}
					image={post.featuredImage}
				/>
			))
		}
	</div>
</Layout>
