---
import {
    Sparkle,
    Heart,
    MessageCircle,
    CircleMinus,
    Bookmark,
    Ellipsis,
} from "@lucide/astro";

interface Props {
    author: string;
    title: string;
    excerpt: string;
    readTime: string;
    date: string;
    likes: number;
    comments: number;
    publication?: string;
    featured?: boolean;
}

const {
    author,
    title,
    excerpt,
    readTime,
    date,
    likes,
    comments,
    publication,
    featured = false,
} = Astro.props as Props;
---

<article class="py-6 border-b border-gray-100">
    <div class="flex items-start gap-3 mb-3">
        <div
            class="w-5 h-5 bg-black text-white text-xs font-medium rounded-sm flex items-center justify-center flex-shrink-0"
        >
            {author.charAt(0)}
        </div>
        <div class="flex items-center gap-1 text-sm text-foreground-muted">
            {
                publication && (
                    <>
                        <span class="text-gray-500 text-xs">In</span>
                        <span class="text-gray-800  text-xs">
                            {publication}
                        </span>
                        <span class="text-gray-500  text-xs">by</span>
                    </>
                )
            }
            <span class="text-gray-800 text-xs">{author}</span>
        </div>
    </div>

    <div class="flex gap-6">
        <div class="flex-1">
            <a href="/post" class="no-underline">
                <h2
                    class="text-2xl font-bold text-foreground mb-2 line-clamp-2 cursor-pointer hover:text-foreground-light"
                >
                    {title}
                </h2>
            </a>

            <p class="text-foreground-muted text-gray-600 mb-4 line-clamp-2">
                {excerpt}
            </p>

            <div class="flex items-center justify-between">
                <div
                    class="flex items-center gap-4 text-sm text-foreground-muted"
                >
                    <Sparkle class="w-3 h-3 text-amber-300 fill-amber-300" />
                    <span>{date}</span>

                    <div class="flex items-center gap-1">
                        <Heart class="w-3 h-3" />
                        <span>{likes}</span>
                    </div>

                    <div class="flex items-center gap-1">
                        <MessageCircle class="w-3 h-3" />
                        <span>{comments}</span>
                    </div>
                </div>

                <div class="flex items-center gap-2">
                    <a
                        type="button"
                        class="w-8 h-8 rounded p-1 flex items-center justify-center text-foreground-muted hover:text-foreground"
                        aria-label="Bookmark"
                    >
                        <CircleMinus
                            class="h-5 text-gray-500"
                            stroke-width={1}
                        />
                    </a>

                    <a
                        type="button"
                        class="w-8 h-8 rounded p-1 flex items-center justify-center text-foreground-muted hover:text-foreground"
                        aria-label="Bookmark"
                    >
                        <Bookmark class="h-5 text-gray-500" stroke-width={1} />
                    </a>

                    <a
                        type="button"
                        class="w-8 h-8 rounded p-1 flex items-center justify-center text-foreground-muted hover:text-foreground"
                        aria-label="More options"
                    >
                        <Ellipsis class="h-5 text-gray-500" stroke-width={1} />
                    </a>
                </div>
            </div>
        </div>

        <img
            src="https://miro.medium.com/v2/resize:fit:1248/1*yujHdUQ7X8hhxZ-VQUDpQg.png"
            alt={title}
            class="ms-14 rounded w-[160px] h-[107px] object-cover"
        />
    </div>
</article>
